<div style="text-align: center;position: absolute;top: calc(50% - 50px); left: calc(50% - 250px); float: left; width: 500px; height: 100px; background-color: rgba(255, 255, 255, 0.8);border: black 1px solid;">
    
    <table style="display: inline-block; height: 50px;">
        
            <tr>
                <td>
                    Cardinalité
                </td>

                <td>
                </td>
            </tr>

            <tr>
                <td>
                    <select (change)="setCardinal($event)" [ngModel]="cardinal">
                        <option value="0,1">0,1</option>
                        <option value="0,n">0,n</option>
                        <option value="1,1">1,1</option>
                        <option value="1,n">1,n</option>
                    </select>
                </td>
                <td>
                    <button style="display: inline-block;" (click)="validate()">Valider</button>
                </td>
            </tr>   

    </table>
    
</div>

