<app-tool-box style="padding-left: 10px; float: left; padding-top: 100px;" (stat)="setStat($event)"></app-tool-box>
<div class="canvas-list">
    <app-canvas style="padding-left: 10px;" [mouseStat]="mouseStat" [loadedData]="storedGraph"
        (change)="canvasUpdate($event)"></app-canvas>
    <div class="center-list">
        <div *ngIf="showSchemaList" class="list-group list-schema" id="list-tab" role="tablist">
            <a *ngFor="let schema of currentUserSchemas" class="list-group-item list-group-item-action"
                id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="schema.name"
                (click)="getStoreGraph(schema)">{{schema.name}}</a>
        </div>
        <div class="sqlAndClose" *ngIf="sqlData && !showSchemaList">
            <textarea class="sqlData form-control smooth-scroll">{{sqlData.response}}</textarea>
            <a (click)="enableShowSchemaList()" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>
    </div>
</div>
<button class="btn btn-success" (click)="saveSchema()">Save Schema</button>
<button class="btn btn-success" (click)="generateSql()">Generate SQL</button>
<a *ngIf="schemaNotSavedError" style="color: red"> Veuillez enregistrer le schema avant de générer le SQL</a>
<input type="text" [(ngModel)]="currentSchema.name" placeholder="" class="input-xlarge">