.canvas{
    width: 90%;
    height: 90%;
    border: 2px solid black;
    margin: 0 auto;
}

#chart {
    border: 1px solid black;
    height: 500px;
    width: 100%;
    margin-top: 10px;
    display: inline-block;
}