<ngx-graph
class="chart-container"
[view]="[1000, 800]"
[links]="[
    {
      id: 'a',
      source: 'first',
    target: 'second',
      label: 'is parent of'
    }, {
      id: 'b',
      source: 'first',
      target: 'third',
      label: 'custom label'
    }, {
      id: 'c',
      source: 'first',
      target: 'TEST',
      label: 'custom label'
    }
  ]"
  [nodes]="list"
>
  <ng-template #nodeTemplate let-node class="node">
    <svg:g >
      <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" [attr.fill]="node.data.color" />
      <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="0">{{node.label}}</svg:text>
      <svg:text *ngFor="let att of node.attributes" [attr.x]="10" [attr.y]="20 * att.id" >{{att.name}}</svg:text>
    </svg:g>
  </ng-template>
</ngx-graph>
