<ngx-graph
  class="chart-container"
  [view]="[800, 300]"
  [links]="link"
  [nodes]="list"
>
  <ng-template #nodeTemplate let-node>
    <svg:g class="node" (click)="configureLink($event.srcElement.id)">
      <svg:rect [attr.id]="node.id" [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" [attr.fill]="node.data.color" />
      <svg:text [attr.id]="node.id" alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">{{node.label}}</svg:text>
    </svg:g>
  </ng-template>
</ngx-graph>

<button (click)="loadAllSchemasByName()">Load Shema</button>

<div *ngFor="let schema of loadedAllSchemasByName">
  <label>{{schema.id}} : {{schema.name}}</label>
</div> 