img{
    width: 50px;
    background-color: white;
    &:hover {
        cursor: pointer;
        background-color: rgb(192, 192, 192);
    }
}

.selected {
    background-color: rgb(116, 116, 116);
}