<div style="display: inline-block; border: 1px solid black;">
    <label id="title">Tools bar</label>
    <div class="box">
        <div class="mode" (click)="setActionNewEntity()" [class.selected]="getStatValue()=='NewEntity'">
            <img src="../../../assets/img/newEntity.png">
            <label class="infoMode">New Entity</label>
        </div>
        <div class="mode" (click)="setActionNewRelation()" [class.selected]="getStatValue()=='NewRelation'">
            <img src="../../../assets/img/newRelation.png">
            <label class="infoMode">New Relation</label>
        </div>
        <div class="mode" (click)="setActionLink()" [class.selected]="getStatValue()=='Link'">
            <img src="../../../assets/img/link.png">
            <label class="infoMode">Link</label>
        </div>
        <div class="mode" (click)="setActionGrab()" [class.selected]="getStatValue()=='Grab'">
            <img src="../../../assets/img/grab.png">
            <label class="infoMode">Move</label>
        </div>
        <div class="mode" (click)="setActionEdit()" [class.selected]="getStatValue()=='Edit'">
            <img src="../../../assets/img/edit.png">
            <label class="infoMode">Edit</label>
        </div>
        <div class="mode" (click)="setActionDelete()" [class.selected]="getStatValue()=='Delete'">
            <img src="../../../assets/img/trash.png">
            <label class="infoMode">Delete</label>
        </div>
    </div>
</div>
