<div style="position: absolute;top: calc(50% - 200px); left: calc(50% - 250px); float: left; width: 500px; height: 400px; background-color: rgba(255, 255, 255, 0.8);border: black 1px solid;">
    <h3>{{entity.name}}</h3>
    <div class="separator"></div>
    <table>
        <div *ngFor="let attr of entity.attributes">
            <tr>
                <td class="name">
                    <input type="text" [name]="'name-'+attr.name" [(value)]="attr.name">
                </td>
                <td class="type">
                    <select [(value)]="attr.type">
                            <option *ngFor="let type of types" [value]="type">{{type}}</option>
                    </select>
                </td>
            </tr>
        </div>
    </table>
    <button (click)="validate()">Valider</button>
</div>

