<div style="text-align: center;position: absolute;top: calc(50% - 200px); left: calc(50% - 290px); float: left; width: 580px; height: 400px; background-color: rgba(255, 255, 255, 0.8);border: black 1px solid;">
    <h3 style="display: inline-block;margin: 3px"><input style="text-align: center;" type="text" [(ngModel)]="entity.name"></h3>
    <div class="separator"></div>
    <table style="display: inline-block;">
        <tr style="font-weight: bold;text-align: center;display: inline-block;">
            <td style="width: 192px;">Name</td>
            <td style="width: 92px;">Type</td>
            <td style="width: 92px;">Number</td>
            <td style="width: 92px;">Unique</td>
            <td style="width: 100px;"><button style="font-weight: bold;border: none; background: none;color: green;" (click)="newAttribute()">+</button></td>
        </tr>
        <div style="height: 280px;overflow-y: scroll;">
            <div *ngFor="let attr of entity.attributes">
                <tr>
                    <td class="name">
                        <input type="text" [name]="'name-'+attr.name" [(ngModel)]="attr.name">
                    </td>
                    <td class="type">
                        <select [(ngModel)]="attr.type">
                                <option *ngFor="let type of types" [value]="type">{{type}}</option>
                        </select>
                    </td>
                    <td>
                        <div *ngIf="attr.type == 'varchar'">
                            <input style="width: 92px;" type="number" [name]="'name-'+attr.name" [(ngModel)]="attr.typeNumber">
                        </div>
                        <div *ngIf="attr.type != 'varchar'">
                            <div style="width: 92px;"></div>
                        </div>
                    </td>
                    <td>
                        <input type="checkbox" [(ngModel)]="attr.isPrimary" style="width: 92px;">
                    </td>
                    <td>
                        <button style="color: red; font-weight: bold;" (click)="removeAttribute(attr)">delete</button>
                    </td>
                </tr>
            </div>
        </div>
    </table>
    
    <button (click)="validate()">Valider</button>
</div>

